@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap');

* {
    padding: 0;
    margin: 0;   
    font-family: 'Lato', sans-serif;
}

.all {
    background: brown;
    height: 30rem;
    color: #fff;
    font-size: 2rem;
    text-align: center;
    margin: 5rem;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

h3 {
    color: #f8f5f0;
    letter-spacing: .05em;
    text-shadow:
      4px 4px 0px #0fc1ce, 
      7px 7px 0px rgba(37, 35, 35, 0.2);
}

.camp {
    margin: 1rem;
}

input[type="text"] {
    border: none;
    padding: 6px 10px;
    background: transparent;
    border-bottom: 1px solid #fff;
    font-size: 2rem;
    color: #fff;
}

input[type="text"]:active, :focus {
    outline: none; 
}

button {
    padding: 6px 16px;
    font-size: 1rem;
    border: none;
    border-radius: 3px;
    font-weight: bold;
}

button:hover {
    background: #000;
    color: #fff;
    transition: 0.4s;
    cursor: pointer;
}

section#imc {
    border: 1px solid;
    width: 40rem;
    height: 5rem;
    margin-top: 2rem;
    margin-left: 20rem;
    background: transparent;
    font-size: 22px;
    text-align: center;
}